// COLORS

$textGray: #7C8F8F;

$blackPrimary: #2B3939;
$blackSecondary: #000000;

$tealPrimary: #5CA5A5;
$tealBackground: #F2F2F2;

// COLORS 


// FONT-SIZES

$fs-l: 18px;
$fs-m: 15px;
$fs-s: 13px;
$fs-xs: 11px;

// FONT-SIZES


// LINE-HEIGHTS

$lh-l: 24px;
$lh-m: 14px;  

// LINE-HEIGHTS


// FONT-WEIGHTS

$fw-bold: 700;
$fw-medium: 500;

// FONT-WEIGHTS
