@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

// === NULLIFYING STYLES ===
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
// === / NULLIFYING STYLES ===

// === MIXINS ===
@mixin railway {
    font-family: 'Railway', sans-serif;
}
// === / Mixins ===

// === VARIABLES ===

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 700;
$fw-bold: 700;

// Font Sizes
$fs-xs: 1vw;
$fs-s: 1.5vw;
$fs-m: 2vw;
$fs-l: 2.5vw;
$fs-xl: 3.75vw;

// Colors
$white: #FFFFFF;
$black: #252525;
$blue: #304B7A;
$green: #5BBCA1;

// === / VARIABLES ===

// === COMMON STYLES ===

body {
    @include railway;
}

* { 
    color: $white;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    @media screen and (max-width: 375px) {
        letter-spacing: normal;
    }
}

h1 {font-size: $fs-xl;}
h2 {font-size: $fs-l;}
h3 {
    font-size: $fs-m;
    font-weight: $fw-semi-bold;
    color: $black;
}
h4 {
    font-size: $fs-s;
    color: $blue;
}

@media screen and (max-width: 375px) {
    h1 {font-size: $fs-xl * 2.5;}
    h2 {font-size: $fs-l * 2.5;}
    h3 {font-size: $fs-m * 2.5;}
    h4 {font-size: $fs-s * 4;}
}

// .wrapper-outer {

// }

.wrapper-inner {
    max-width: 80vw;
    margin: 0 10vw;   
    @media screen and (max-width: 375px){
        max-width: 90vw;
        margin: 0 5vw;
    }
}

.button {
    padding: 1vw 3vw;
    background-color: $white;
    font-size: $fs-xs;
    border-radius: 15px; 
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: darken($white, 30%);
    }
    @media screen and (max-width: 375px) {
        font-size: $fs-xs * 5;
        padding: 3vw 5vw;
    }
}

.heading-underline {
    padding: 0;
    margin: 0;
    width: 30%;
    height: 0.5vw;
    background-color: $green;
    margin-top: 2vw;
    border-radius: 6px;
    @media screen and(max-width: 375px) {
        width: 60%;
        height: 1.5vw;
    }
}
// === / COMMON STYLES ===

// === HERO-IMAGE === 
.section-hero-image {
    position: relative;
    background-image: url(images/hero-image/background.png);
    background-size: cover;
    .hero-image__contact {
        position: absolute;
        bottom: 2vw;
        right: 5vw;
        & > img {
            width: 5vw;
        }
        @media screen and (max-width: 375px) {
            bottom: -25vw;
            & > img {
                width: 20vw;
            }
        }
    }
    @media screen and (max-width: 375px) {
        text-align: center;
        background-color: $blue;
        background-image: url(images/hero-image/adaptive/background.png);
    }
}

.hero-image__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 10vw;
    & img {
        width: 8vw;
    }
    @media screen and (max-width: 375px) {
        padding-bottom: 20vw;
        & img {
            width: 40vw;
        }
    }
}

.nav {
    font-size: $fs-xs;
    padding-left: 10vw;
    & .nav-wrapper {
        display: flex;
        flex-direction: row;
    }
    & .nav-wrapper__item {
        margin: 0 2vw;
    }
    & .item-link__underline {
        width: 60%;
        height: 15%;
        background-color: $blue;
        border-radius: 5px;
        margin: 0.3vw auto;
        transition: all 0.3s ease-in-out;
    }
    & a:hover + div{
        background: $green;
    }
    & img {
        width: 7vw;
    }
    @media screen and (max-width: 375px) {
        padding-left: 40vw;
        & .nav-wrapper__item {
            display: none;
        }
    }
}

.hero-image__info {
    width: 35vw;
    padding-bottom: 10vw;
    & p {
        font-size: $fs-xs;
        font-weight: $fw-regular;
        color: #D0D3DB;
        margin-top: 2vw;
    }
    & .hero-image__button {
        margin-top: 8vw;
        & > * {
            color: #132A53;
        }
    }
    & > p + img {
        display: none;
    }
    @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding-bottom: 20vw;
        & p {
            font-size: $fs-xs * 5;
            margin-top: 5vw;
            margin-bottom: 10vw;
        }
        & .hero-image__button {
            margin-top: 20vw;
            & > * {
                color: #132A53;
            }
        }
        & > p + img {
            display: block;
            text-align: center;
            width: 70vw;
        }
    }
}
// === / HERO-IMAGE === 

// === REGISTRATION  ===
.section-registration {
    position: relative;
    background-image: url(images/registration/background.png);
    background-size: cover;
    & .wrapper-inner {
        max-width: 100vw;
        margin: 0;
        padding: 10vw 0;
    }
    @media screen and (max-width: 375px) {
        background-image: url(images/registration/adaptive/background.png);
        & .wrapper-inner {
            padding: 30vw 0 20vw 0;
        }
    }
}

.player {
    position: absolute;
    top: 21vw;
    right: 0;
    background-color: #CAEEE4;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 32px 44px rgba(129, 138, 140, 0.4);
    & img {
        margin: 3vw 0 2vw 5vw;
        width: 30vw;
    }
    @media screen and (max-width: 375px) {
        position: initial;
        border-radius: 20px;
        margin-left: 5vw;
        text-align: center;
        width: fit-content;
        & img {
            margin: 5vw;
            width: 80vw;
        }
    }
}

.registration-text {
    background-color: rgba(177, 248, 228, 0.15);
    width: 80vw;
    padding: 10vw 30vw 10vw 10vw;
    border-radius: 0 20px 20px 0;
    & h2 {
        color: $blue;
    }
    & p {
        margin-top: 2vw;
        color: $black;
        font-weight: $fw-regular;
        font-size: $fs-s;
    }
    @media screen and (max-width: 375px) {
        width: 100vw;
        padding: 5vw 5vw 10vw 5vw;
        & p {
            margin-top: 10vw;
            font-size: $fs-m * 2.5;
        }
    }
}
// === / REGISTRATION  ===

// === DIRECTIONS  ===
.section-directions {
    background-image: url("images/directions/background.png");
    background-size: contain;
    position: relative;
    padding-bottom: 10vw;
    & img {
        position: absolute;
        width: 30vw;
    }
    & div > div ~ div {
        position: relative;
        border-radius: 20px;
        & > div {
            padding: 5vw;
            & h2 { 
                margin-bottom: 1vw;
            }
            & p {
                margin-bottom: 5vw;
                font-weight: $fw-regular;
                font-size: $fs-xs;
            }  
        }
    }
    & h3 {
        color: $black;
    }
    & .section-directions__heading-underlined {
        position: relative;
        margin-bottom: 5vw;
    }
    @media screen and (max-width: 375px) {
        background-image: url(images/directions/adaptive/background.png);
        padding-bottom: 30vw;
        & img {
            width: 40vw;
        }
        & div > div ~ div {
            & > div {
                & h2 { 
                    margin-bottom: 2vw;
                }
                & p {
                    margin-bottom: 10vw;
                    font-weight: $fw-regular;
                    font-size: $fs-xs * 5;
                }  
            }
        }
        & .section-directions__heading-underlined {
            margin-bottom: 20vw;
        }
    }
}

.card1 {
    background-color: $green;
    margin-bottom: 10vw;
    & .button {
        color: $green;
    }
    & img {
        top: -2vw;
        right: -5vw;
    }
    @media screen and (max-width: 375px) {
        & > div {
            width: 60vw;
        }
        & img {
            top: 7vw;
        }
    }
}

.card2 {
    background-color: $blue;
    & .button {
        color: $blue;
    }
    & > .card2__text { 
        text-align: right;
    }
    & img {
        top: -4vw;
        left: -5vw;
    }
    @media screen and (max-width: 375px) {
        padding-left: 30vw;
        & > div {
            width: 60vw;
        }
        & img {
            top: 5vw
        }
    }
}
// === / DIRECTIONS  ===

// === PARTNERS  ===
.section-partners {
    background-image: url(images/partners/background.png);
    background-size: contain;
    padding-bottom: 10vw;
    & h3 {
        text-align: center;
        margin-bottom: 10vw;
    }
    & img {
        width: 20vw;
    }
    @media screen and (max-width: 375px) {
        & h3 {
            margin-bottom: 20vw;
        }
        & img {
            width: 30vw;
        }
    }
}

.image-slider {
    position: relative;
    @media screen and (max-width: 375px) {
        padding-bottom: 30vw;
    }
}

.swiper-slide {
    position: absolute;
    left: 10%;
    @media screen and (max-width: 375px) {
        left: 7%;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {display: none;}

.swiper-button-next {
    margin-right: 1vw;
    @media screen and (max-width: 375px) {
        margin-right: 20vw;
    }
} 
.swiper-button-prev {
    margin-left: 1vw;
    @media screen and (max-width: 375px) {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 375px) {
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50vw !important;
        & > img {
            width: 15vw;
        }
    }
}
// === / PARTNERS  ===

// === NEWS  ===
.section-news {
    text-align: center;
    background-color: #F2FFFB;
    & .wrapper-inner {
        padding: 5vw 0;
    }
    & .section-news__heading-underlined {
        padding: 5vw 0;
    }
    & .button {  
        display: block;
        background-color: $green;
        margin: 5vw auto 0 auto;
        width: fit-content;
    }
    & h3 {
        text-align: left;
    }
    @media screen and (max-width: 375px) {
        padding: 10vw 0;
        & .button {  
            width: fit-content;
            margin: 5vw auto 0 auto;
        }
    }
}

.section-news__list {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2.5vw;
    & li {
        background-color: $white;
        border-radius: 30px;
        box-shadow: 0px 0px 20px 12px rgba(242, 242, 242, 0.4);
        position: relative;
        padding: 2.5vw;
        width: fit-content;
        & > * {
            text-align: left;
            padding-top: 1vw;
        }
        & img {
            width: 20vw;
        }
        & p, span {
            font-size: $fs-xs;
            font-weight: $fw-regular;
        }
        & p {
            color: $black;
            padding-bottom: 5vw;
        }
        & span {
            position: absolute;
            bottom: 2.5vw;
            right: 2.5vw;
            color: #959595;
        }
        & a {
            color: $blue;
        }
    }
    @media screen and (max-width: 375px) {
        flex-direction: column;
        align-items: center;
        & li {
            width: fit-content;
            margin: 5vw 0;
            & > * {
                padding-top: 5vw;
            }
            & img {
                width: 85vw;
            }
            & p, span {
                font-size: $fs-xs * 5;
            }
            & p {
                padding-bottom: 20vw;
            }
        }
    }
}
// === / NEWS  ===

// === FOOTER  ===
.section-footer {
    background-color: $blue;
    padding: 5vw 0 3vw 0;
    & .section-footer__about {
        & > * {
            display: inline-block;
        }
        margin-bottom: 5vw;
    }
    & h4 { 
        color: $white;
    }
    & .section-footer__text {
        color: #B0B0B0;
        font-size: 0.7vw;
        font-weight: $fw-regular;
        text-align: center;
    }
    @media screen and (max-width: 375px) {
        padding: 10vw 0 6vw 0;
        & .section-footer__about {
            & > * {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            margin-bottom: 10vw;
        }
        & .section-footer__text {
            font-size: $fs-l;
        }
    }
}

.section-footer__left-block {
    margin-right: 15vw;
    width: 35vw;
    & img {
        width: 10vw;
        padding-bottom: 3vw;
    }
    & h4 {
        font-weight: $fw-regular;
    }
    @media screen and (max-width: 375px) {
        width: fit-content;
        margin-right: 0;
        margin-bottom: 5vw;
        & img {
            width: 40vw;
            padding-bottom: 6vw;
        }
    }
}   

.section-footer__right-block {
    & > * {
        padding: 1vw;
    }
    & .section-footer__phone {
        display: flex;
        & img { 
            width: 2.5vw;
            padding-right: 1vw;
        }
        padding-bottom: 3vw;
    }
    & p {
        font-weight: $fw-regular;
        font-size: $fs-s;
    }
    & .section-footer__social {
        & img {
            width: 3vw;
            padding-right: 1vw;
        }
    }
    & a {
        font-size: $fs-xs;
        color: #848CA8;
        text-decoration: underline;
    }
    @media screen and (max-width: 375px) {
        & > * {
            padding: 4vw 0 4vw 0;
        }
        & .section-footer__phone {
            display: flex;
            & img { 
                width: 10vw;
                padding-right: 3vw;
            }
            padding-bottom: 6vw;
        }
        & p {
            font-size: $fs-s * 4;
        }
        & .section-footer__social {
            & img {
                width: 14vw;
                padding-right: 4vw;
            }
        }
        & a {
            font-size: $fs-xs * 4;
        }
    }
}
// === / FOOTER  ===