@import 'assets/style/nullstyles.scss';
@import 'assets/style/abstracts/functions';
@import 'assets/style/abstracts/mixins';
@import 'assets/style/abstracts/variables';
@import 'assets/style/components/vacancyItem.scss';

.app {
  height: 100vh;
}

.header {
  width: 100vw;
  height: 156px;
  background-image: url('./assets/images/backgrounds/bg-header-desktop.svg');
  background-color: $tealPrimary;
}

.main {
  height: 100%;
  background-color: $tealBackground;
}