@import "assets/style/nullstyles.scss";
@import "assets/style/abstracts/mixins";
@import "assets/style/abstracts/variables";
@import "assets/style/components/vacancy/vacancyList.scss";
@import "assets/style/components/vacancy/vacancyItem.scss";
@import "assets/style/components/filter/filterItem.scss";
@import "assets/style/components/filter/filterList.scss";

@font-face {
  font-family: "Spartan";
  font-weight: bold;
  src: local("Spartan"),
    url("./assets/fonts/Spartan-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan";
  font-weight: medium;
  src: local("Spartan"),
    url("./assets/fonts/Spartan-Medium.ttf") format("truetype");
}

body,
html {
  font-family: "Spartan";
}

.app {
  height: 100vh;
}

.header {
  height: 156px;
  background-image: url("./assets/images/backgrounds/bg-header-desktop.svg");
  background-color: $tealPrimary;
}

.main {
  position: relative;
  min-height: calc(100% - 156px);
  background-color: $tealBackground;
  padding-block: 76px 120px;
}
