.filters {
  background-color: white;
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  margin-inline: 120px;
  width: calc(100% - 240px);

  &__list {
    display: flex;
  }

  &__clear {
    cursor: pointer;
    @include text-style($fw-bold, $fs-s, $lh-l, $tealPrimary);
    &:hover {
      text-decoration: underline;
    }
  }
}